*{
	margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
.contact-container {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background: white;
    margin-top: 50px;
    padding: 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 90%;
    margin-bottom: 10px;
}
.contact-info, .contact-form {
    flex: 1;
    min-width: 300px;
    margin: 10px;
}
.contact-info h2, .contact-form h2 {
    font-weight: 600;
    margin-bottom: 10px;
}
.contact-info p {
    margin: 8px 0;
}
.contact-form form {
    display: flex;
    flex-direction: column;
}
.contact-form input, .contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}
.contact-form input:focus, .contact-form textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}
.contact-form button {
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease;
}
.contact-form button:hover {
    background: #0056b3;
}
.contact-info a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}
.contact-info a:hover {
    color: #0056b3;
}